:root{
    --primary-color: #061d2d;
    --secondary-color: #1C1C1C;
    --accent1-color: #463f09 ;
    --accent2-color: #70A288;
    --heading-font: "Fredericka", sans-serif;
    --body-font: "Lexend", sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
  font-family: var(--body-font);  
  color: var(--accent1-color)
}
main, footer{
width: auto;
margin: 0 auto;
}
h1, h2{
    font-family: var(--heading-font);
    color: var(--secondary-color);
}
nav, p, section, article{
margin: 16px;
padding: 8px;
}
.socialmedia a{
    text-decoration: none;
}
.hero {
    position: relative;
    width: auto;
    height: auto;
}
.hero img{
    display: block;
    width: 100%;
    height: auto;
}
p1{
    position: absolute;
    top:20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;
    font-size:xx-large;
}
article {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);;
    text-align: center;
    opacity: 0.7;
    background-color: var(--primary-color);
    color: #fff7f7;
}
.hero article img{
    float: right;
    width: 125px;
}
header{
    margin: 0 0 1rem;
    border: 1px solid;
    border-radius: 0.5rem;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    justify-content: space-around;
    align-items: center;
}
header img{
    padding: 0.5rem;
	width: 100%;
	height: auto;
    grid-column:2/3;
    grid-row:1/4;
}

.f-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 0;
	font-family: Arial, sans-serif;
    grid-column:4/7;
    grid-row:2/3;
    align-items: center;
}

.f-nav a{
border: 2px solid rgb(0, 0, 0);
padding: 5px;

}
section{
margin: 0 auto;
display:flex;
flex-wrap: wrap;
justify-content: space-around;
align-items: center;
flex-direction: column;
}

section img{
width: 100%;
height: auto;
max-width: 100%;
padding-left: 1rem;
}

.history{
display: grid;
grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
align-items: center;
justify-items: center;
}

.history img{
width: 20rem;
height:auto;
}

.images{
display: grid;
grid-template-columns: repeat(5, 1fr);
justify-content: space-between;
}

figure{
    text-align: center;
    margin: 1px;
}

footer{
    margin: 0 auto;
    border: 2px solid black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: end;
    align-items: center;
    padding: 1rem;
}

.socialmedia{ 
display: flex; 
justify-content: center;
align-items: center;
}

a img{
margin: 1rem;
width: 32px;
padding:0;
height: auto;
}

.circle{
    margin: 0 auto;
    width: 50rem;
    border: 1px solid #000;
    border-radius: 0.5rem;
}

.info{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-around;
    padding: 1rem;
}

.info p{
     border: 1px solid #000;
    border-radius: 0.5rem;
    margin: 0 1rem;
    padding: 0.5rem;
}

.employee{
    margin: 0 auto;
    width: 48rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-around;
    padding: 1rem;
    gap: 1rem
}

figure.image2{
    grid-column: 3/4;
}

figure.image3{
    grid-column: 2/3;
}

form{
    margin: 0 auto;
    width: 41rem;
    padding: 1rem;
    border: 1px solid #000;
    background-color: rgb(246, 236, 222);
    border-radius: 0.5rem;
    display: grid;
}

fieldset{
    display: grid;
    gap: 0.5rem;
    padding: 1rem;
    border-radius: 0.5rem;
    margin: 1rem;
}

input, select, textarea{
    padding: 0.5rem;
    font-size: 1rem;
    text-align: center;
}

.column1{
    display:grid;
    grid-template-columns: 1fr 3fr;
}

.column2{
    display: grid;
    grid-template-columns: 2fr 2fr;
}

input[type="checkbox"] {
   height: 1.5rem;
   vertical-align: bottom;
}

button{
    margin: 1rem auto;
    background-color: navy;
    color: #fff;
    border-radius: 0.5rem;
    padding: 0.7rem;
    font-size: 1.25rem;
    display: flex;
}

iframe{
    display: flex;
    border-radius: 0.5rem;
    margin: 1rem auto;
    width: 41rem;
    justify-items: center;
}