:root {
    --primary-color: #006D77;
    --secondary-color: #2A9D8F;
    --accent1-color: #FFB703;
    --accent2-color: #FAF9F6;
    --heading-font: "Fredericka", sans-serif;
    --body-font: "Lexend", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--accent2-color);
    font-family: var(--body-font);
    color: black
}

main,
footer {
    width: auto;
    margin: 0 auto;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--secondary-color);
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
    margin: 0 auto;
    width: 60rem;
    height: auto;
}

.hero img {
    margin: 0 1.1rem;
    display: block;
    width: 100%;
    height: auto;
}

.hero p {
    position: absolute;
    top: 20px;
    left: 1px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #000000;
    font-size: xx-large;
}

.hero article {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.6);
    padding: 1rem;
    text-align: center;
    color: rgb(10, 10, 10);
    max-width: 100%;
    border-radius: 0.5rem;
}

.stress {
    position: relative;
}

.stress img {
    margin: 0 4rem;
    width: 10rem;
    display: block;
}

.stress p {
    position: absolute;
    font-size: 15px;
    top: 50%;
    left: 50%;
    transform: translate(-55%, -1%);
    padding: 16px;
    opacity: 0.7;
    background-color: var(--accent2-color);
    color: #000000;
}

header {
    background-color: var(--secondary-color);
    margin: 0 0 1rem;
    border: 1px solid;
    border-radius: 0.5rem;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    justify-content: space-around;
    align-items: center;
}

header img {
    padding: 0.5rem;
    width: 100%;
    height: auto;
    grid-column: 2/3;
    grid-row: 1/4;
}

.f-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 0;
    font-family: Arial, sans-serif;
    grid-column: 4/7;
    grid-row: 2/3;
    align-items: center;
}

.f-nav a {
    border: 2px solid rgb(0, 0, 0);
    border-radius: 0.5rem;
    padding: 5px;

}

section {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

section img {
    width: 100%;
    height: auto;
    max-width: 100%;
    padding-left: 1rem;
}

.history {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    align-items: center;
    justify-items: center;
}

.history img {
    width: 20rem;
    height: auto;
}

.images {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: space-between;
}

figure {
    text-align: center;
    margin: 1px;
}

footer {
    background-color: var(--secondary-color);
    margin: 0 auto;
    border: 2px solid black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: end;
    align-items: center;
    padding: 1rem;
}

.socialmedia {
    display: flex;
    justify-content: center;
    align-items: center;
}

a img {
    margin: 1rem;
    width: 32px;
    padding: 0;
    height: auto;
}

.circle {
    background-color: var(--);
    margin: 0 auto;
    width: 50rem;
    border: 1px solid #000;
    border-radius: 0.5rem;
}

.info {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-around;
    padding: 1rem;
}

.info p {
    border: 1px solid #000;
    border-radius: 0.5rem;
    margin: 0 1rem;
    padding: 0.5rem;
}

.info p a {
    border: none;
    background-color: var(--accent2-color);
}

.employee {
    margin: 0 auto;
    width: 48rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-around;
    padding: 1rem;
    gap: 1rem
}

figure.image2 {
    grid-column: 3/4;
}

figure.image3 {
    grid-column: 2/3;
}

form {
    margin: 1rem auto;
    width: 41rem;
    padding: 1rem;
    border: 1px solid #000;
    background-color: var(--secondary-color);
    border-radius: 0.5rem;
    display: grid;
}

fieldset {
    display: grid;
    gap: 0.5rem;
    padding: 1rem;
    border-radius: 0.5rem;
    margin: 1rem;
}

input,
select,
textarea {
    padding: 0.5rem;
    font-size: 1rem;
    text-align: center;
}

.column1 {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.column2 {
    display: grid;
    grid-template-columns: 2fr 2fr;
}

input[type="checkbox"] {
    height: 1.5rem;
    vertical-align: bottom;
}

button {
    margin: 1rem auto;
    background-color: var(--accent1-color);
    color: #000000;
    border-radius: 0.5rem;
    padding: 0.7rem;
    font-size: 1.25rem;
    display: flex;
}

button:hover {
    background-color: #9a1717;
}

iframe {
    display: flex;
    border-radius: 0.5rem;
    margin: 1rem auto;
    width: 41rem;
    justify-items: center;
}

.offerings {
    margin: 0 auto;
    width: 48rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.offerings .grid-item {
    margin: 1rem;
}

.offerings .grid-item h2 {
    text-align: center;
    padding: 1rem 0 0 0;
}

.description {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
}

.description p {
    margin: 0 0 1rem 0;
}

table {
    background-color: var(--accent2-color);
    margin: 0 auto;
    width: 48rem;
    border-collapse: collapse;
}

th,
td {
    margin: 0 auto;
    border: 1px solid #000;
    padding: 0.5rem;
}

thead {
    background-color: #b0dcfc;
}

a {
    background-color: var(--secondary-color);
    border: 2px solid black;
    border-radius: 0.5rem;
    padding: 0.25rem;
    color: #000;
}

.home{
    margin: 0 auto;
    width: 60rem;
    display: grid;
    align-items: center;
    justify-content: center;
}

.home p {
    position: absolute;
    margin-left: 2rem;
    top: 20px;
    left: 1px;
    width: 98.5%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #000000;
    font-size: xx-large;}